:host {
  background: #33a14a;
  flex: 77;
}

.columns {
  display: flex;
  width: 100%;
}

.column {
  flex: 1;
}

.column>app-card {
  margin-top: -6vh;
}

.column>app-card:first-child {
  margin-top: 0;
}
