:host {
  background: #33a14a;
}

@media (orientation: landscape) {
  :host {
    flex: 70;
  }
}

@media (orientation: portrait) {
  :host {
    flex: 77;
  }
}

.columns {
  display: flex;
  width: 100%;
}

.column {
  flex: 1;
}

.column>app-card {
  margin-top: -6vmax;
}

.column>app-card:first-child {
  margin-top: 0;
}
