:host {
  height: 8vmax;
  width: 10vmin;
  border-radius: 5px;
  background: white;
  display: block;
  border: 1px solid black;
  position: relative;
  transition: top 300ms, left 300ms;
  user-select: none;
  cursor: pointer;
}

:host(.hidden) {
  background: red;
  cursor: default;
}

:host(.dragging) {
  z-index: 1;
  transition: 0ms;
}

.right-side-up {
  position: absolute;
  top: 5%;
  left: 5%;
}

.upside-down {
  transform: rotate(180deg);
  right: 5%;
  bottom: 5%;
  position: absolute;
}

.placeholder-svg {
  width: auto;
  height: 100%;
}
