:host {
  background: #2c7b3a;
  position: relative;
}

@media (orientation: landscape) {
  :host {
    flex: 20;
  }
}

@media (orientation: portrait) {
  :host {
    flex: 13;
  }
}

.stockCards {
  height: 8vmax;
  width: 10vmin;
  border-radius: 5px;
  border: 1px solid black;
  position: absolute;
  cursor: pointer;
}

.stockCards>app-card:first-child {
  margin-top: 0vh;
}

.stockCards>app-card {
  cursor: pointer;
  margin-top: -7.5vmax;
}

.revealedCards {
  left: 20%;
  position: absolute;
  display: flex;
}

.revealedCards app-card {
  margin-left: -7vmin;
}

.foundations {
  width: 50vmin;
  position: absolute;
  right: 0;
  display: flex;
  justify-content: space-between;
}

.foundation {
  height: 8vmax;
  width: 10vmin;
  border-radius: 5px;
  border: 1px solid black;
  position: relative;
}

.foundation>app-card {
  position: absolute;
}
